<div class="board bg-primary">

    <div class="board-header text-center text-light">
        <h4>Board</h4>
    </div>
    <div class="board-toolbar" *ngIf="false">
        <ul class="nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">EPP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">权限</a>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">EPP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">权限</a>
            </li>
        </ul>
    </div>

    <div class="board-content thin-scroll" [dragula]='"task-list"' [dragulaOptions]="taskListDragOptions">

        <app-task-list *ngFor="let taskList of taskListViewModel" [taskList]="taskList"></app-task-list>

        <!-- create task list -->

        <div class="task-list-wrapper task-list-create" [class.active]="isAddingTaskList" outclick (onOutClick)="onCancle($event);" [isFirst]="isAdding">
            <div class="task-list">

                <button type="button" name="createtask" class="btn btn-light btn-block" *ngIf="!isAddingTaskList" (click)="isAddingTaskList = true;">增加任务</button>

                <div class="task-list-header" *ngIf="isAddingTaskList">

                    <!-- <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div> -->

                    <input type="text" #taskListName class="form-control" [focus]="focusInput" name="listheader" aria-describedby="helpId" placeholder="任务列表名称" value="">

                    <button class="btn btn-primary text-white btn-sm" (click)="onAddTaskListClick(taskListName)">添加</button>
                </div>
                <!-- <ul class="task-list-body thin-scroll" [dragula]='"task"'>

                </ul> -->

            </div>
        </div>

    </div>

</div>