<p>
    dashboard works!
</p>
<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="card">
                <img src="../../../../assets/images/demo/camera1.jpg" alt="" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">Card title</h5>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card bg-primary">
                <div class="card-body">
                    <img src="../../../../assets/images/demo/camera1.jpg" alt="" class="card-img">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../../assets/images/demo/camera1.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">title</div>
                    <p>这是内容</p>
                </div>
                <!-- <div class="card-body">
                    <img src="../../../../assets/images/demo/camera1.jpg" alt="" class="card-img">
                </div> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">

            <div class="card bg-primary text-white">
                <div class="card-header">
                    Camares
                </div>
                <div class="d-flex">
                    <div class="w-50">
                        <img src="../../../../assets/images/demo/camera1.jpg" alt="" class="w-100">
                    </div>
                    <div class="w-50">
                        <img src="../../../../assets/images/demo/camera2.jpg" alt="" class="w-100">
                    </div>
                </div>
                <div class="d-flex">
                    <div class="w-50">
                        <img src="../../../../assets/images/demo/camera3.jpg" alt="" class="w-100">
                    </div>
                    <div class="w-50">
                        <img src="../../../../assets/images/demo/camera4.jpg" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active tab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled tab</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Body</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4>header</h4>

                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active pill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled pill</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Body</p>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-header">
                    Camares
                </div>
                <div class="d-flex">
                    <div class="w-50">
                        <img src="../../../../assets/images/demo/camera1.jpg" alt="" class="w-100">
                    </div>
                    <div class="w-50">
                        <img src="../../../../assets/images/demo/camera2.jpg" alt="" class="w-100">
                    </div>
                </div>
                <div class="d-flex">
                    <div class="w-50">
                        <img src="../../../../assets/images/demo/camera3.jpg" alt="" class="w-100">
                    </div>
                    <div class="w-50">
                        <img src="../../../../assets/images/demo/camera4.jpg" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div echarts [options]="chartOption" theme="macarons"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div echarts [options]="chartOption" theme="macarons"></div>
                </div>
            </div>
        </div>
    </div> -->

</div>