//开关
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true;
$enable-print-styles: true;
//colors
// $dropdown-border-color:transparent;
//font
$font-family-base: '-apple-system',
'SF UI Text',
'Arial',
'PingFang SC',
'Hiragino Sans GB',
'Microsoft YaHei',
'WenQuanYi Micro Hei',
sans-serif !default;
$primary:#563d7c; //#6f42c1; //#343a40;
// $primary:#6610f2;
$grid-gutter-width:15px;